/**/.env*
/**/*.xlsx
/**/node_modules
dist/
**/lambda-config.js
**/package-lock.json
**/*.zip
**/*.log*
**/dev.js
**/*.pem
*.tgz

*.jshintrc
.tags
.tags_swap


#VS files
*.vs*
*/bin
*/obj
*/typings
*.njsproj
*.sln
vs_files_to_exclude
lambdasync/*


#except
!**/.env.defaults
!**/.env.schema


.jshintrc
.tags*
